.add-option-error {
  color: $c-Mint;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}
.add-option__input {
  background-color: $c-SailorBlue;
  border: none;
  color: $c-green;
  border-bottom: 0.3rem solid darken($c-SailorBlue, 10%);
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}
@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }
  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}
