.big-button {
  background-color: $c-green;
  border: none;
  border-bottom: 0.6rem solid darken($c-green, 10%);
  color: #fcf6f5;
  font-size: $l-size;
  font-weight: bold;
  width: 100%;
  margin-bottom: $m-size;
  padding: 2.4rem;
}
.big-button:disabled {
  opacity: 0.5;
}

.button {
  background-color: $c-green;
  border: none;
  border-bottom: 0.3rem solid darken($c-green, 10%);
  font-weight: 500;
  padding: $s-size;
  color: #fcf6f5;
}
.button--link {
  background: none;
  border: none;
  color: #adefd1;
  padding: 0;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}
