.header {
  background-color: $c-SailorBlue;
  margin-bottom: $m-size;
  color: #fcf6f5;
  padding: $m-size 0;
}
.header__title {
  margin: 0;
  font-size: $l-size;
}
.header__subtitle {
  color: $c-Mint;
  font-weight: 500;
  font-size: $m-size;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
