.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background-color: $c-SailorBlue;
  color: #fcf6f5;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
}

.modal__title {
  font-size: 3rem;
}
.modal__body {
  font-size: 2rem;
  word-break: break-all;
}
