.widget {
  background-color: #1a2b54;
  margin-bottom: $xl-size;
}
.widget__message {
  // border-bottom: 1px solid lighten($, 10%);
  color: #fcf6f5;
  margin: 0;
  padding: $l-size;
  text-align: center;
  font-size: 1.8rem;
}

.widget_header {
  background-color: #162447;
  color: #adefd1;
  display: flex;
  justify-content: space-between;
  padding: $s-size;
}
.widget_header__title {
  margin: 0;
}
